<h1>Contact us</h1>

<form (ngSubmit)="handleSubmit()" [formGroup]="messageForm">

    <h5 *ngIf="success"> Your form is Valid</h5>

    <label> Name:
        <input formControlName="name" type="text">
        <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
            <div *ngIf="messageForm.controls.name.errors.required">Name is Required</div>
        </div>
    </label>
    <label> Message:
        <textarea formControlName="message" type="text"></textarea>
        <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
            <div *ngIf="messageForm.controls.message.errors.required">Message is Required</div>
        </div>
    </label>

    <input class="cta" type="submit" value="Send message">
</form>

<div *ngIf="submitted" class="results">
    <strong>Name:</strong>
    <span>{{ messageForm.controls.name.value }}</span>

    <strong>Message:</strong>
    <span>{{ messageForm.controls.message.value }}</span>
</div>
